.pantalla-bLoqueo{
	

	-fx-max-width: -1;
	-fx-max-height: -1;
	-fx-background-color:#121824;
	-fx-padding: 10px;
	
}



.label{
	
	-fx-max-width: 200px;
	-fx-text-fill: white;
}

.btn-aceptar{
	
	-fx-min-width: 100px;
	-fx-text-fill: white;
}

