.pantalla-bLoqueo{
	

	-fx-max-width: -1;
	-fx-max-height: -1;
	-fx-background-color:#121824;
	-fx-padding: 10px;
	
	-fx-border-color: #E2E8F0;
	-fx-border-width: 5px;


}



.label{
	
	-fx-max-width: 200px;
	-fx-text-fill: white;
}

.btn-aceptar{
	
	-fx-min-width: 100px;
	-fx-text-fill: white;
	-fx-background-color: transparent;
	
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-border-color: #E2E8F0;
	-fx-border-width: 1px;
}
.modificarHisotial{
	
	-fx-padding: 10px;
	
}

.btn-volver{
	-fx-min-width: 30px;
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-size: 100% 100%;
		
	
		
	-fx-background-image: url("volverTransparente.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

	 -fx-background-size: contain; 
	 -fx-cursor: hand;
	
}

.btn-volver:hover{
	-fx-translate-y: -1px;
	
}
.btn-preguntar{
	-fx-min-width: 30px;
	-fx-text-fill: white;
	
	-fx-background-color: transparent;
		-fx-background-size: 100% 100%;
			
		
			
	-fx-background-image: url("bloqueadoTransparente.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-size: contain;
	-fx-cursor: hand;
	
}
			
	
}

.btn-preguntar:hover{
	-fx-translate-y: -1px;
	
}


.password-field {
    -fx-background-color: #1a2634;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}


.password-field-error {
    -fx-border-color: #c0392b; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: #2c1a1a; 
}