.btn-Menu{
	
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;	
	-fx-text-fill: white;
	-fx-pref-width: 160px;
	-fx-pref-height: 40px;		
	-fx-cursor: hand;		
	
}

.btn-Menu:hover{
	-fx-translate-y: -1px;
	
}


.bg-Main{
	
	-fx-background-color:#121824;
} 


.txt-Secondary{
	
	-fx-text-fill: #94A3B8;
}

.txt-Prymari{
	-fx-text-fill: #E2E8F0;
}

.ScrollPane{
	
	-fx-background: transparent; 
	-fx-background-color: transparent;
	-fx-viewport-background: transparent;
	-fx-max-height: -1;
	
}


.TxtField{
	-fx-text-fill: #E2E8F0;
	-fx-background-color: transparent;
	-fx-border-radius: 10px;
	-fx-border-width: 2px;
	-fx-border-color: 
	        linear-gradient(to right, transparent, #E2E8F0, #2C3545) 
			#2C3545                                                  
	        linear-gradient(to right, transparent, #E2E8F0, #2C3545) 
	        #2C3545;
			
}
