.btn-Menu{
	
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;	
	-fx-text-fill: white;
	-fx-pref-width: 160px;
	-fx-pref-height: 40px;		
	-fx-cursor: hand;		
	
}

.btn-Menu:hover{
	-fx-translate-y: -1px;
	
}


.bg-Main{
	
	-fx-background-color:#121824;
} 


.txt-Secondary{
	
	-fx-text-fill: #94A3B8;
}

.txt-Prymari{
	-fx-text-fill: #E2E8F0;
	-fx-font-size: 20px;
}

/*SCROLL PANE INICIO */
.ScrollPane{
	
	-fx-background: transparent; 
	-fx-background-color: transparent;
	-fx-viewport-background: transparent;
	-fx-max-height: -1;
	
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #121824; 
    -fx-width: 50px;  
	-fx-pref-width: 16px;             
}


.scroll-pane .scroll-bar:vertical .thumb {
    
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #1E2640 0%, rgba(255,255,255,0.4) 100%);
    -fx-background-radius: 5px;
}


.scroll-pane .scroll-bar:vertical .thumb:hover {

   
}


.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

/*SCROLL PANE FINAL */
.Hbox-buscador{
	
	-fx-background-color: transparent;
	-fx-border-radius: 30px;
	-fx-border-width: 2px;
	-fx-border-color: 
	        linear-gradient(to right, transparent, #E2E8F0, #2C3545) 
			#2C3545                                                  
	        linear-gradient(to right, transparent, #E2E8F0, #2C3545) 
	        #2C3545;
			
}

.txtField{
	-fx-text-fill: #E2E8F0;
	-fx-background-color: transparent;
	
}
.btnBuscar{
	-fx-background-color: transparent;
    -fx-cursor: hand;
	

	    
	-fx-background-size: 100% 100%;
	-fx-mask-size: 70% 70%;
	
	
	-fx-padding: 8px;
	    
	-fx-background-image: url("lupaIconoTransparent.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

	
    -fx-background-size: contain; 
	
	
	
	
}
.stack-pane-user{
	-fx-background-color: transparent;
	-fx-background-size: 100% 100%;
	
	-fx-min-width: 20px;
	-fx-min-height: 20px;	
	
	-fx-background-image: url("userIconTransparente.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

		
    -fx-background-size: contain; 
}

.btn-modificar{
	
	-fx-background-color: transparent;
	-fx-background-size: 70% 70%;
	
	-fx-min-width: 20px;
	-fx-min-height: 20px;	
	
	-fx-background-image: url("modificarIconTransparent.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
			
    -fx-background-size: contain; 
}

.btn-modificar:hover{
	
	-fx-background-size: 100% 100%;
}