.btn-Menu{
	
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;	
	-fx-text-fill: white;
	-fx-pref-width: 160px;
	-fx-pref-height: 40px;		
	-fx-cursor: hand;		
	
}

.btn-Menu:hover{
	-fx-translate-y: -1px;
	
}


.bg-Main{
	
	-fx-background-color:#121824;
} 





